
<% if current_user.is_a? Student %>
  <!-- <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"> -->
      <div class="create-idea-btn" align="center">
        <% if current_user.current_access == "ideas" %>
          <%= link_to "Create Idea", ideas_new_path,  class: "btn btn-primary btn-lg medium-btn" %>
        <% end %>
    <!-- </div> -->
    <!-- <div class="col-md-4" align="center"> -->
    <% if can_vote? %>
      <div class="alert alert-info remain-box" role="alert">
        <span>
          Remaining Votes:
          <% if session[:selection] %>
            <%= 3 - session[:selection].count %>
          <% else %>
            3
          <% end %>
        </span>
        <span>
          <%= flash[:error] %>
        </span>
      </div>
    <% end %>
    <!-- </div> -->
  <!-- </div> -->
<% end %>

<div class='table-container'>
  <div class ="jform"></div>
  <table class='table table'>
    <tr class="idea-header">
      <th colspan="3"><h3 class='headers text-center'>DBC Final Project Ideas</h3></th>
    </tr>
    <% @ideas.each do |idea| %>

      <tr class='idea-tr'>

        <td align="center" class="bulb-col">
          <% if voted_idea_this_round?(idea) || ((session[:selection] != nil) && (!session[:selection].include? idea.id)) %>
            <i class="fa fa-lightbulb-o fa-3x bulb-btn yellow-bulb" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-lightbulb-o fa-3x bulb-btn" aria-hidden="true"></i>
          <% end %>
        </td>

        <td class="text-center idea-listing"><span class="title-listing"><%= idea.title %><span></td>

          <% if voted_idea_this_round?(idea) || ((session[:selection] != nil) && (!session[:selection].include? idea.id)) %>
            <td align="center" class="vote-col"><% if can_vote? %><a href="/sessions/select/<%= idea.id %>" class= "btn btn-success btn-lg vote-btn">Vote</a><% end %></td>
          <% else %>
            <td align="center" class="vote-col"><% if can_vote? %><a href="/sessions/select/<%= idea.id %>" class= "btn btn-default btn-lg vote-btn">Vote</a><% end %></td>
          <% end %>
      </tr>

    <% end %>
  </table>
</div>

<% if current_user.is_a? Student %>
  <div class="create-idea-btn" align="center">
    <% if can_vote? %>
      <%= link_to "Submit", votes_path, method: :post, class: "btn btn-primary btn-lg medium-btn" %>
    <% end %>
  </div>
<% end %>
