<h3>New Idea</h3>

<%= form_for(@idea) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p><strong>Integration with login/logout feature required!!</strong></p>
  <p>
    <%= f.label :student_id %>
    <%= f.text_field :student_id %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Home', ideas_path %>